<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <title>404 SCP API.</title>
</head>

<body>
    <div class="bg">
        <div class="topleft">
            <p>iDrix S.A.</p>
        </div>
        <div class="middle">
            <h1>404.</h1>
            <hr>
            <p>No se encontró el recurso.</p>
        </div>
    </div>
</body>

</html>